<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 curso</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <div class="header-layout">
            <div class="logo-course">
                <img src="../img/logoC.png" alt="">
            </div>
            <div class="login">
                <input type="search" name="Search" id="Search" placeholder="Buscar Cursos" class="uil uil-airplay">

            </div>
            <div class="redes">
                <a href=""><i class="uil uil-facebook-f"></i></a>
                <a href=""><i class="uil uil-twitter"></i></a>
                <a href=""><i class="uil uil-youtube"></i></a>
            </div>
        </div>
    </header>

    <section class="home-layout">
        <div class="info-left">
            <h1>Curso de Introducción a CSS</h1>
            <p>CSS (Cascading Style Sheets en inglés) Es un lenguaje fácil de aprender, encargado de controlar la apariencia visual (diseño) de una página Web.

                Con este curso de CSS aprenderás, directo al grano, sin rodeos, LAS BASES DE CSS que realmente necesitas para dar el primer paso al diseñar una página Web desde cero, con una metodología de trabajo útil y fácil de entender; para que puedas organizar de manera óptima tu código CSS. Al final del curso, verás una introducción diagramando una página Web desde cero para que apliques todos los conocimientos aprendidos. Sin duda este curso de CSS abrirá tu mente al mundo de diseño y desarrollo Web.
            </p>
            <div class="login-2">
                <input type="search" name="Search" id="Search" placeholder="Buscar Cursos" class="uil uil-airplay">

                <a href="">Comenzar</a>

            </div>
        </div>
        <div class="course-logo">
            <img src="../img/2.png" alt="">
        </div>
    </section>

    <section class="temario">
        <div class="left">
            <div class="content">
                <h2>Contenido de Curso</h2>
                <span><a href=""><i class="uil uil-play"></i></a>
                    <p>CSS: Contenido 1</p>
                </span>
                <span><a href=""><i class="uil uil-play"></i></a>
                    <p>CSS: Contenido 2</p>
                </span>
                <span><a href=""><i class="uil uil-play"></i></a>
                    <p>CSS: Contenido 3</p>
                </span>
                <span><a href=""><i class="uil uil-play"></i></a>
                    <p>CSS: Comtenido 4</p>
                </span>
                <span><a href=""><i class="uil uil-play"></i></a>
                    <p>CSS: Comtenido 5</p>
                </span>
            </div>

            <div class="more-courses">
                <h2>Otros Cursos</h2>
                <div class="info-courses">
                    <img src="../img/2.png" alt="">
                    <span>
                        <h3>Curso de CSS3</h3>
                        <p>Este curso está dirigido a personas que quieran tener control sobre su código CSS..</p>
                    </span>
                    <p><i class="uil uil-dollar-alt"></i>250.000</p>
                    <a href=""><i class="uil uil-heart"></i></a>

                </div>
                <div class="info-courses">
                    <img src="../img/3.png" alt="">
                    <span>
                        <h3>Curso de JavaScript</h3>
                        <p>Domina el desarrollo FullSatck con JavaScript.
                        </p>
                    </span>
                    <p><i class="uil uil-dollar-alt"></i>250.000</p>
                    <a href=""><i class="uil uil-heart"></i></a>

                </div>
                <div class="info-courses">
                    <img src="../img/4.png" alt="">
                    <span>
                        <h3>Curso de JAVA</h3>
                        <p>Aprende a programar en el lenguaje de programación Java</p>
                    </span>
                    <p> &nbsp;<i class="uil uil-dollar-alt"></i>250.000</p>
                    <a href=""><i class="uil uil-heart"></i></a>

                </div>
                <div class="info-courses">
                    <img src="../img/5.png" alt="">
                    <span>
                        <h3>Curso de PHP</h3>
                        <p>lenguaje de programación orientado al diseño web</p>
                    </span>
                    
                    <p>     &nbsp;<i class="uil uil-dollar-alt"></i>250.000</p>
                    <a href=""><i class="uil uil-heart"></i></a>

                </div>

            </div>
        </div>
        <div class="rigth">
            <div class="courses-more">
                <h2><i class="uil uil-dollar-alt"></i> 200.000</h2>
                <a href="">Comprar</a>
                <a href="">Comenzar</a>

                <h2>información</h2>
                <p>12 Horas de Contenido</p>
                 <p>2 Archivos descargables</p>
                <p>24 Horas de Practica</p>
            </div>

        </div>
    </section>

    <footer>
        <div class="title-footer">
            <h2><a href="http://www.delloweb.com">www.delloweb.com</a></h2>
        </div>

        <div class="copyright">
            <p>© CRISTIAN MIRANDA - LEYMAR BLANDON. <br>
             All rights reserved</p>
        </div>
    </footer>

</body>

</html>